@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Shrikhand&display=swap");
.heading__nav {
  font-family: "Shrikhand", cursive;
  background-color: white;
  text-align: center;
  padding: 0.5%;
  font-size: 2.5rem;
  box-shadow: 0px 7px 40px -1px rgba(0, 0, 0, 0.23);
  border: white;
}
.heading__nav--back {
  position: relative;
}
.heading__nav--back .fa-solid {
  position: absolute;
  left: 2%;
  font-size: 1.5rem;
  top: 35%;
}
@media (max-width: 778px) {
  .heading__nav {
    font-size: 1.8rem;
    padding: 2.5% 0;
  }
}

.__sub-title {
  text-align: center;
  padding: 3% 5%;
}
@media (max-width: 778px) {
  .__sub-title {
    font-size: 1.6rem;
    text-align: left;
  }
}

.footer {
  padding: 2% 5%;
  background-color: #353535;
  color: white;
}
@media (max-width: 778px) {
  .footer {
    padding: 8%;
  }
}
.footer__logo {
  font-family: "Shrikhand", cursive;
  text-align: center;
}
@media (max-width: 778px) {
  .footer__logo {
    text-align: left;
    font-size: 1.2rem;
  }
}
.footer ul {
  margin: 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  font-weight: 500;
}
.footer ul li {
  opacity: 0.3;
}
.footer ul li:hover {
  opacity: 1;
}
@media (max-width: 778px) {
  .footer ul {
    flex-direction: column;
    line-height: 30px;
    align-items: flex-start;
  }
}
.footer ul a, .footer ul .fa-solid {
  color: white;
}
@media (max-width: 778px) {
  .footer ul a, .footer ul .fa-solid {
    font-size: 0.8rem;
  }
}

.button {
  padding: 20px;
  margin-top: 25px;
  border-radius: 40px;
  color: white;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  border: none;
  font-weight: 600;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.13);
  cursor: pointer;
  font-size: 1.1rem;
  opacity: 1;
  margin-bottom: 2%;
}
.button:hover {
  opacity: 0.9;
  transform: box-shadow translateY(5px);
  transition: all 0.25s;
}
@media (max-width: 778px) {
  .button {
    padding: 5%;
  }
}

.fa-heart {
  position: relative;
  font-size: 30px;
}
.fa-heart:hover::after {
  opacity: 1;
}
.fa-heart::after {
  font-size: 30px;
  position: absolute;
  content: "\f004";
  font: var(--fa-font-solid);
  background: linear-gradient(to top right, #FF79DA, #9356DC);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.1rem;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

p {
  font-size: 1.1rem;
}

h2 {
  font-size: 1.9rem;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.heading__localisation {
  padding: 0.9%;
  margin-top: 5px;
  background-color: #eaeaea;
  text-align: center;
}
@media (max-width: 778px) {
  .heading__localisation {
    padding: 2% 0;
    font-size: 0.9rem;
  }
}
.heading__localisation .fa-solid {
  margin-right: 10px;
}

.heading__description {
  background-color: #F6F6F6;
  text-align: center;
  padding: 2% 2% 1% 2%;
  line-height: 3em;
}
@media (max-width: 778px) {
  .heading__description {
    line-height: normal;
    padding: 18% 5%;
  }
}
@media (max-width: 778px) {
  .heading__description h2 {
    font-size: 1.6rem;
    margin-bottom: 5%;
  }
}
@media (max-width: 778px) {
  .heading__description p {
    font-size: 1rem;
  }
}

.process {
  margin: 0 5%;
  margin-bottom: 4%;
}
@media (max-width: 778px) {
  .process {
    padding: 8% 0;
  }
}
@media (max-width: 778px) {
  .process h2 {
    font-size: 1.6rem;
    text-align: left;
  }
}
.process ul {
  display: flex;
  gap: 5%;
  justify-content: center;
  padding: 0.5% 2%;
  counter-reset: tutoStep;
  list-style: none;
}
@media (max-width: 992px) {
  .process ul {
    margin-top: 10%;
    flex-direction: column;
    gap: 0;
    row-gap: 30px;
  }
}
.process ul li {
  padding: 30px 50px;
  background-color: #F6F6F6;
  border-radius: 18px;
  font-weight: 500;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.13);
  position: relative;
  text-align: center;
}
@media (max-width: 778px) {
  .process ul li {
    padding: 9%;
  }
}
.process ul li::before {
  width: 30px;
  height: 30px;
  border-radius: 60px;
  counter-increment: tutoStep 1;
  content: counter(tutoStep) " ";
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: #9356DC;
  color: white;
  left: -15px;
  top: 25px;
}
.process ul li .fa-solid {
  margin-right: 20px;
  color: #7E7E7E;
}

.menu {
  margin: 0 4%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 40px;
  padding-bottom: 4%;
  max-height: 800px;
}
@media (min-width: 778px) and (max-width: 992px) {
  .menu {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 40px;
    margin-top: 5%;
  }
}
@media (max-width: 778px) {
  .menu__nav {
    padding: 10% 0;
  }
}
@media (max-width: 778px) {
  .menu {
    grid-template-columns: 1fr;
    max-height: none;
    grid-row-gap: 20px;
  }
}
.menu__card {
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.13);
  position: relative;
}
@media (max-width: 778px) {
  .menu__card {
    height: 270px;
  }
}
.menu__description {
  padding: 4%;
  line-height: 30px;
  bottom: 0;
  background-color: white;
  width: 100%;
  position: absolute;
}
.menu__image {
  position: relative;
}
.menu__image img {
  object-fit: cover;
  object-position: center;
  height: 500px;
  width: 100%;
}
.menu__image--new::after {
  content: "Nouveau";
  position: absolute;
  background-color: #99E3D0;
  padding: 2% 4%;
  color: #139273;
  font-weight: 600;
  right: 20px;
  top: 20px;
}
.menu__fav {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.menu nav {
  background-color: #F6F6F6;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: white;
  opacity: 0.8;
}
.loader__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  height: 600px;
  position: relative;
}
.heading__background {
  object-fit: cover;
  object-position: center;
  width: 100%;
}

.list {
  background-color: #F6F6F6;
  position: absolute;
  width: 100%;
  top: 38%;
  border-radius: 60px 60px 0 0;
  text-align: center;
}
@media (max-width: 778px) {
  .list {
    top: 20%;
    border-radius: 50px 50px 0 0;
  }
}
@media (min-width: 778px) and (max-width: 1024px) {
  .list {
    top: 33%;
    border-radius: 50px 50px 0 0;
  }
}
.list__description {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5%;
}
@media (max-width: 778px) {
  .list__description {
    justify-content: space-between;
    padding: 10% 4%;
    margin-bottom: 0;
  }
}
.list__title {
  font-family: "Shrikhand", cursive;
  text-align: center;
  padding: 3%;
  font-size: 2.5rem;
}
@media (max-width: 778px) {
  .list__title {
    text-align: left;
    font-size: 1.5rem;
    padding: 0;
    margin: 0 2%;
  }
}

.plate {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-template-rows: 1fr;
  column-gap: 5%;
  margin: 0 5%;
}
@media (max-width: 778px) {
  .plate {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
}
.plate__course {
  font-weight: 400;
  text-transform: uppercase;
  color: #353535;
}
@media (max-width: 778px) {
  .plate__course {
    font-size: 1.2rem;
  }
}
.plate hr {
  height: 4px;
  background-color: #99E3D0;
  border: none;
  margin-bottom: 5%;
  width: 60px;
}
@media (max-width: 778px) {
  .plate hr {
    width: 40px;
  }
}
.plate__title {
  font-size: 1.4rem;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (max-width: 778px) {
  .plate__title {
    font-size: 1.1rem;
    font-weight: 600;
  }
}
.plate__category li {
  list-style-type: none;
  padding: 4%;
  background-color: white;
  margin-bottom: 15px;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.13);
  border-radius: 20px;
}
@media (max-width: 778px) {
  .plate__category li {
    max-height: 80px;
  }
}
@media (max-width: 778px) {
  .plate__category {
    margin-bottom: 10%;
  }
}
.plate__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.plate__description p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (max-width: 778px) {
  .plate__description p {
    text-align: left;
    font-size: 0.9rem;
  }
}
@media (max-width: 778px) {
  .plate__description b {
    font-size: 1rem;
  }
}
@media (max-width: 778px) {
  .plate__description {
    line-height: 30px;
    font-size: 1rem;
  }
}
.plate__course {
  text-align: left;
}

/*# sourceMappingURL=style.css.map */
