.heading__description {
    background-color: #F6F6F6;
    text-align: center;
    padding: 2% 2% 1% 2%;
    line-height: 3em;
    @media (max-width: $phone) {
        line-height: normal;
        padding: 18% 5%;
    }
    & h2 {
        @media (max-width: $phone) {
            font-size: 1.6rem;
            margin-bottom: 5%;
        }
    }
    & p {
        @media (max-width: $phone) {
            font-size: 1rem;
        }

    }
}