.heading__description {
    background-color: #F6F6F6;
    text-align: center;
    padding: 3%;
    line-height: 3em;
    .heading__button {
        padding: 1.2%;
        margin-top: 25px;
        border-radius: 40px;
        color: white;
        background: $secondary-color linear-gradient(180deg, $secondary-color 0%, $primary-color 60%);
        border: none;
        font-weight: 600;
        box-shadow: $button-shadow;
        cursor: pointer;
    }
}