.menu {
    margin: 0 4%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 40px;
    padding-bottom: 4%;
    max-height: 800px;

    @media (min-width: $phone) and (max-width: $tablet) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 40px;
        margin-top: 5%;
    }

    &__nav {
        @media (max-width: $phone) {
            padding: 10% 0;
        }
    }

    @media (max-width: $phone) {
        grid-template-columns: 1fr;
        max-height: none;
        grid-row-gap: 20px;
    }

    &__card {
        border-radius: 30px;
        overflow: hidden;
        box-shadow: $button-shadow;
        position: relative;

        @media (max-width: $phone) {
            height: 270px;
        }
    }

    &__description {
        padding: 4%;
        line-height: 30px;
        bottom: 0;
        background-color: white;
        width: 100%;
        position: absolute;
    }

    &__image {
        position: relative;

        & img {
            object-fit: cover;
            object-position: center;
            height: 500px;
            width: 100%;
        }

        &--new::after {
            content: "Nouveau";
            position: absolute;
            background-color: $tertiary-color;
            padding: 2% 4%;
            color: #139273;
            font-weight: 600;
            right: 20px;
            top: 20px;
        }
    }

    &__fav {
        display: flex;
        justify-content: space-between;
        align-items: end;

        & i {
            font-size: 30px;
            &:hover {
                &::after {
                    font-size: 30px;
                    position: absolute;
                    content: '\f004';
                    font: var(--fa-font-solid);
                    background: linear-gradient(to top right, $secondary-color, $primary-color);
                    background-clip: border-box;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    left: 435.8px;
                    transition: all 50000s;
                }
            }
        }
    }

    nav {
        background-color: #F6F6F6;
    }
}