.process {
    margin: 0 5%;
    margin-bottom: 4%;

    @media (max-width: $phone) {
        padding: 8% 0;
    }

    & h2 {
        @media (max-width: $phone) {
            font-size: 1.6rem;
            text-align: left;
        }
    }

    ul {
        display: flex;
        gap: 5%;
        justify-content: center;
        padding: .5% 2%;
        counter-reset: tutoStep;
        list-style: none;

        @media (max-width: $tablet) {
            margin-top: 10%;
            flex-direction: column;
            gap: 0;
            row-gap: 30px;
        }

        li {
            &:last-child {
                background-color: #F6EDFF;
            }
            padding: 30px 50px;
            background-color: #F6F6F6;
            border-radius: 18px;
            font-weight: 500;
            box-shadow: $button-shadow;
            position: relative;
            text-align: center;

            @media (max-width: $phone) {
                padding: 9%;
            }

            &::before {
                width: 30px;
                height: 30px;
                border-radius: 60px;
                counter-increment: tutoStep 1;
                content: counter(tutoStep) " ";
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                background-color: $primary-color;
                color: white;
                left: -15px;
                top: 25px;
            }

            .fa-solid {
                margin-right: 20px;
                color: #7E7E7E;
            }
        }
    }
}