.heading {
    background-color: white;
    height: 600px;
    position: relative;

    @media (max-width: $phone) {
        height: 300px;
    }

    &__background {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
}

.list {
    background-color: #F6F6F6;
    position: absolute;
    width: 100%;
    top: 55%;
    border-radius: 60px 60px 0 0;
    text-align: center;

    @media (max-width: $phone) {
        top: 40%;
        border-radius: 50px 50px 0 0;
    }

    &__description {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1.5%;

        @media (max-width: $phone) {
            justify-content: space-between;
            padding: 10% 4%;
            margin-bottom: 0;
        }

        & .fa-regular {
            font-size: 1.5rem;
        }
    }

    &__title {
        font-family: $title-font;
        text-align: center;
        padding: 3%;
        font-size: 2.5rem;

        @media (max-width: $phone) {
            text-align: left;
            font-size: 1.7rem;
            padding: 0;
        }
    }

    &__button {
        padding: 1.2% 2%;
        margin-top: 25px;
        border-radius: 40px;
        color: white;
        background: $secondary-color linear-gradient(180deg, $secondary-color 0%, $primary-color 60%);
        border: none;
        font-weight: 600;
        box-shadow: $button-shadow;
        cursor: pointer;
        margin: 3% 0;
        @media (max-width: $phone) {
            margin-bottom: 15%;
            padding: 5% 8%;
        }
    }
}

.plate {
    display: flex;
    justify-content: center;
    column-gap: 8em;

    @media (max-width: $phone) {
        flex-direction: column;
        margin: 0 4%;
    }

    &__course {
        font-weight: 400;
        text-transform: uppercase;
        color: #353535;

        @media (max-width: $phone) {
            font-size: 1.2rem;
        }
    }

    hr {
        height: 4px;
        background-color: $tertiary-color;
        border: none;
        margin-bottom: 5%;
        width: 60px;

        @media (max-width: $phone) {
            width: 40px;
        }
    }

    &__title {
        font-size: 1.4rem;
        font-weight: 500;
        text-align: left;

        @media (max-width: $phone) {
            font-size: 1.2rem;
            font-weight: 600;
        }
    }

    &__category {
        li {
            list-style-type: none;
            padding: 4%;
            background-color: white;
            width: 500px;
            margin-bottom: 15px;
            box-shadow: $button-shadow;
            border-radius: 20px;

            @media (max-width: $phone) {
                width: 100%;
            }
        }
        @media (max-width: $phone) {
            margin-bottom: 10%;
        }
    }

    &__description {
        display: flex;
        justify-content: space-between;
        align-items: center;

        & p {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            @media (max-width: $phone) {
                text-align: left;
                font-size: 1rem;
            }
        }

        & b {
            @media (max-width: $phone) {
                font-size: 1rem;
            }
        }
        @media (max-width: $phone) {
            line-height: 30px;
            font-size: 1rem;
        }
    }

    &__course {
        text-align: left;
    }
}