*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: $body-size;
    font-family: $body-font;
}

a {
    text-decoration: none;
    color: black;
}

p {
    font-size: $body-size;
}

h2 {
    font-size: $title-size;
}

img {
    max-width: 100%;
    max-height: 100%;
}