* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    font-family: $body-font;
}

a {
    text-decoration: none;
    color: black;
}

p {
    font-size: $body-size;
}

h2 {
    font-size: $title-size;
}