.heading {
    height: 600px;
    position: relative;

    &__background {
        object-fit: cover;
        object-position: center;
        width: 100%;
    }
}

.list {
    background-color: #F6F6F6;
    position: absolute;
    width: 100%;
    top: 38%;
    border-radius: 50px 50px 0 0;
    text-align: center;

    @media (max-width: $phone) {
        top: 20%;
        border-radius: 30px 30px 0 0;
    }

    @media (min-width: $phone) and (max-width: 1024px) {
        top: 33%;
        border-radius: 40px 40px 0 0;
    }

    &__description {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1.5%;
        & .fa-regular {
            font-size: 30px;
            @media (max-width: $phone) {
                font-size: 23px;
            }
        }
        @media (max-width: $phone) {
            justify-content: space-between;
            padding: 10% 4%;
            margin-bottom: 0;
        }

    }

    &__title {
        font-family: $title-font;
        text-align: center;
        padding: 3%;
        font-size: 2.5rem;

        @media (max-width: $phone) {
            text-align: left;
            font-size: 1.5rem;
            padding: 0;
            margin: 0 2%;
        }
    }

    & button {
        @media (max-width: $phone) {
            margin-bottom: 15%;
        }
    }
}

.plate {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-template-rows: 1fr;
    column-gap: 5%;
    margin: 0 5%;

    @media (max-width: $phone) {
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    }

    &__course {
        font-weight: 400;
        text-transform: uppercase;
        color: #353535;

        @media (max-width: $phone) {
            font-size: 1.2rem;
        }
    }

    hr {
        height: 4px;
        background-color: $tertiary-color;
        border: none;
        margin-bottom: 5%;
        width: 60px;

        @media (max-width: $phone) {
            width: 40px;
        }
    }

    &__title {
        font-size: 1.4rem;
        font-weight: 500;
        text-align: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        @media (max-width: $phone) {
            font-size: 1rem;
            font-weight: 600;
        }
    }

    &__category {

        @for $i from 1 to 4 {
            &:nth-child(#{$i}) {
                animation-delay: .1s *$i;
            }
        }

        animation: fadein 2s both;

        li {
            list-style-type: none;
            padding: 4%;
            background-color: white;
            margin-bottom: 15px;
            box-shadow: $button-shadow;
            border-radius: 20px;
            position: relative;

            @media (max-width: $phone) {
                max-height: 80px;
            }

            &:hover>.plate__container {
                width: 85%;
                @media (max-width: $phone) {
                    width: 78%;
                }
            }

            &:hover>.plate__checked {
                transform: translateX(-100%);
                width: 15%;
                display: flex;
                align-items: center;
                justify-content: center;

                .fa-solid {
                    animation: rotate .5s both;
                }

                @media (max-width: $phone) {
                    width: 22%;
                }
            }

        }


        @media (max-width: $phone) {
            margin-bottom: 10%;
        }
    }

    &__description {
        display: flex;
        justify-content: space-between;
        align-items: center;

        & p {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            @media (max-width: $phone) {
                text-align: left;
                font-size: .9rem;
            }
        }

        & b {

            @media (max-width: $phone) {
                font-size: 1rem;
            }
        }

        @media (max-width: $phone) {
            line-height: 30px;
            font-size: 1rem;
        }
    }

    &__course {
        text-align: left;
    }

    &__checked {
        display: none;
        position: absolute;
        height: 100%;
        background-color: $tertiary-color;
        top: 0;
        left: 100%;
        width: 0;
        border-radius: 0 20px 20px 0;
        transform: translateX(0);
        transition: transform 1s linear;

        .fa-solid {
            color: white;
            font-size: 24px;
        }
    }

}

@keyframes fadein {
    0% {
        opacity: 0;
        transform: translateX(-50%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes rotate {
    from {
        transform: translateX(100%) rotate(0deg);
    }

    to {
        transform: translateX(0) rotate(360deg);
    }
}